@model IEnumerable<RegandLogin.Models.Admin>

@{
    ViewBag.Title = "Index";
}


<h2> <li>@Html.ActionLink("Add Author", "Create", "Authors")</li> </h2>
<h2> <li>@Html.ActionLink("Add Book", "Create", "Books")</li> </h2>
<h2>  <li>@Html.ActionLink("User List", "Index", "new_User")</li> </h2>
<h2> <li>@Html.ActionLink("Orders", "Index", "issuebooks")</li> </h2>
<h2> <li>@Html.ActionLink("Return", "Create", "returntables")</li> </h2>




